<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciic.reporter.reporttools.mapper.SysReportDatasetMapper">

    <select id="queryDataSetList" resultType="java.util.LinkedHashMap">
        select id ,ds_name,ds_type,db_source_id from sys_dataset WHERE status = '0'
    </select>



<!--    <select id="queryTree1List" resultType="java.util.LinkedHashMap">-->
<!--        select t1.ds_id,t2.id,t2.field_id,t1.ds_name,t2.field_name-->
<!--        FROM `sys_dataset` t1 join sys_dataset_detail t2 on t1.id=t2.ds_id-->
<!--        join sys_datasource t3 on t1.db_source_id=t3.id-->
<!--        where t1.id=#{cid} order by t1.ds_id,t2.sort asc-->
<!--    </select>-->
    <select id="queryTree1List" resultType="java.util.LinkedHashMap">
        select t1.id  ,db_source_id , t1.ds_id ,t2.id as detial_id,t2.field_id ,t1.ds_name ,t2.field_name ,t2.field_en_name,t2.field_ch_en_name
        FROM `sys_dataset` t1 join sys_dataset_detail t2 on t1.id=t2.ds_id
        join sys_datasource t3 on t1.db_source_id=t3.db_code
        where t1.id=#{cid} and t1.status=0 and t2.status=0 order by t1.ds_id,t2.sort asc
    </select>

    <select id="queryTree2List" resultType="java.util.LinkedHashMap">
        select t2.table_name ,
        t2.field_name
        FROM `sys_dataset` t1 join sys_dataset_detail t2 on t1.id=t2.ds_id
        join sys_datasource t3 on t1.db_source_id=t3.db_code
        where t1.id="1001" and t1.status=0 and t2.status=0
    </select>

</mapper>
